<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jueliany</title>	
	<link rel="stylesheet"  href="./cssd/reset.css">
	<link rel="stylesheet"  href="./cssd/main.css">
	<link rel="stylesheet"  href="./cssd/blog.css">
	 <link rel="icon" href="/img/favicon.ico">

	 <script  src="/JS/Vue.js"></script>
	 <script type="text/javascript" src="/JS/jquery-3.3.1.js"></script>
	 <script type="text/javascript">
	 	function Change_List(){
					var change_style=$('#change_style');
					var list_style1=$('#list_style1');
					var list_style2=$('#list_style2');
					if(change_style.html()=="切换到摘要模式"){
						list_style1.hide();
						list_style2.show();
						change_style.html("切换到列表模式");
					}else{
						list_style2.hide();
						list_style1.show();
						change_style.html("切换到摘要模式");
					};

				}

	 </script>
</head>
<body>
	<header>
		<div class="top">
			<ul class="navigation1 fr">
				<li><a href="index.html">首页</a></li>
				<li><a href="blog.html">博文</a></li>
				<li><a href="Aboutme.html">关于</a></li>
			</ul>
		</div>
		<div class="m_top"></div>
	</header>
	<article id="blog_lists">
		<div class="banner">
			<!-- 预留 -->
		</div>
		<div class="blog_text  fl">
			<p class="blog_position"><span>当前：</span><a href="index.html">首页</a>>
			<a href="">博文</a>
			<p class="change_list"> <a id="change_style"  onclick="Change_List()">切换到摘要模式</a></p>
			<div >

			<div class="blog_lists" id="list_style1">
				<ul>
					<template :content="item" v-for="item of list">
					<li><a class="bl_type" :href="item.classify">{{item.bf}}</a><a class="blog_lists_title" :href='item.herf'>{{item.title}}</a><span class="bl_updata_time">{{item.date}}</span></li>
				</template>
				</ul>
			</div>

			<div class="blog_word1" id="list_style2">
				<ul >
					<template :content="item" v-for="item of list">
						<li>
							<h3 class="title_top">
								<a class="blog_classify fl" :href="item.classify">{{item.bf}}</a>						
								<a class='blog_title fl' :href='item.herf'>{{item.title}}</a>
							</h3>
							<p class="blog_info fl">
								<a class="blog_pic fl" :href='item.herf'>
									<img  :src='item.img'>
								</a>
								{{item.text}}			
							</p>					
							<p class="bottom_info fl">
								<span class="time fl">{{item.date}}	</span>
								<a class="goto_blog fr" :href='item.herf'>阅读原文>></a>
							</p>
						</li>
					</template>
				</ul>
				</div>

				
				
			

			</div>
			<div class="blog_lists_index">
				<a href="" id="previous">上一页</a><a id="lists_index" href="">1</a><a class="next" href="">下一页</a> 转到<input id="yeshu" type="text" name="yeshu" />页<button id="queding" href="">确定</button>
			</div>
			
			
		</div>
		<div class="right_list fr ">
			<div class="search fl">
				<p> <input class="search_text" type="text" placeholder="请输入关键字" /><a href="" class="search_button">搜索</a></p>
			</div>



			<div class="blog_type_list fl">
				<h2 class="module_name  ">个人分类</h2>
				<ul class="type_list">
					<template  :content="item" v-for="item of bl_type">
						<li><a :href='"/blog.html?classify="+ item.classify'>{{item.name}}<span class="count_num">({{item.num}})</span></a></li>
					</template>
				</ul>

			</div>
			
			<div class="link fl">
				<h2 class="module_name  ">个人连接</h2>
				<ul class="link_list">
					
					<li><a href="https://weibo.com/u/1549701483/">个人微博</a></li>
					<li><a href="https://github.com/Jueliany/">Github</a></li>
					<li><a href="mailto:494228569@qq.com">联系方式</a></li>
				
				</ul>
			</div>
			<div class="weixin fl">
				<h2 class="module_name ">微信公众号</h2>
				<img src="img/erweima.jpg">
  
			</div>
		</div>
		<div style="clear:both;background-color:#C00; margin:50px 0px; border:0px; padding:0px;"></div>
	</article>
	<footer>
		<p ><a href="mailto:jueliany@foxmail.com">Jueliany</a> @2017-2018  |  Github Pages </p>
	</footer>
	<script type="text/javascript">	
				var cla=Urlid();
				var vm = new Vue({
					el:"#blog_lists",
					data:{
						cla,
						list:[],
						bl_type:[{'name':'CSS','classify':'CSS','num':0},{'name':'游戏相关','classify':'game','num':0},{'name':'影视相关','classify':'movie','num':0}]
					},					
					beforeMount:function(){
						const self=this;
						lists=self.list;
						bl_type=self.bl_type;
						
						console.log(self.cla);
						var i=0;
		               $.ajax(
                            {
                            url:"./xml/blog.xml",      //发送请求的文件
                            type:"get",          //设置提交方式
                            dataType:"xml",   
                                //接收服务端数据的格式                           
                            success:function(xml){   //发送成功时执行这个函数，xml代表返回的xml形式的数据

                                $(xml).find("blog").each(function(){
                                	   var list={};
	                                   list.title = $(this).find("title").text();
	                                   list.bf = $(this).find("bf").text();
	                                   for(j in bl_type){
	                                   	if(list.bf==bl_type[j].name)bl_type[j].num++;
	                                   }
	                                   list.classify="/blog.html?classify="+$(this).find("classify").text();
	                                   list.text = $(this).find("html").text();
	                                   list.img = $(this).find("img").text();
	                                   list.date = $(this).find("date").text();
	                                   list.herf ="/blogl.html?id="+ $(this).find("ide").text();
	                                if(self.cla=="all"||self.cla==$(this).find("classify").text())
                                   {
	                                   lists.push(list);     
	                                }
                                                                  
                                });
                            },
                              //发生错误时执行此函数           
                              //XMLHttpRequest.status表示请求状态，200表示成功
                              //XMLHttpRequest.readyState表示接收状态4表示接收完毕
                            error:function(XMLHttpRequest, textStatus, errorThrown){
                                alert(XMLHttpRequest.status);
                                alert(XMLHttpRequest.readyState);
                            }
                            }

                      ); 

                    }
		            })
				 function Urlid() {
		  		 var name,value="all";
		  		 var str=location.href; //取得整个地址栏
		  		 var num=str.indexOf("?");
		 		  str=str.substr(num+1); //取得所有参数   stringvar.substr(start [, length ]
		 		   console.log(1);
		  		 var arr=str.split("&"); //各个参数放到数组里
		  		 console.log(2);
		  		 for(var i=0;i < arr.length;i++){
		  		      num=arr[i].indexOf("=");
		  		       console.log(3);
		   		     if(num>0){
		   		          name=arr[i].substring(0,num);
		   		          value=arr[i].substr(num+1);
		    		    }
		    		    return value;
		    		}
		    		 
		    	}
				

			</script>

</body>
</html>