* { margin: 0; padding: 0 }
ul,ol{list-style: none;}
img{border: none;}
input,select,textarea{outline: none; border:none; background-color: transparent;}
textarea{resize: none;}
a{cursor:pointer;text-decoration: none;}
em,i{font-style: normal;}
body{font:14px ;background-color: #f1f1f1; background-attachment: fixed; color: #555;}
.fl{float: left;}
.fr{float: right; }
